* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #293f50;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #648880;
}

.navbar {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 0 44px;    
}

.navbar-nav {
    list-style: none !important;
}

.container-fluid {
    display: flex;
    align-items: flex-end !important;
    padding: 0;
 }
.leva-strana {
    padding: 40px 0 0;
 border-top: 4px solid #648880;

}


.navbar-brand {
    text-decoration: none;
    color: #ffffff !important;
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase; 
    line-height: 44px;
}

.navbar-brand:hover {
    color: #648880;
}

.datum-skriveni {
    display: none;

}

.desna-strana {

}

.navbar-toggler {
    
}

.datum {
    text-align: right;
    font-size: 21px;
    line-height: 22px;
    margin-bottom: 22px;   
}

.navbar-collapse {
    
}

.navbar-nav {
    
}

.nav-item a {
    padding: 0 10px !important;
    line-height: normal;
    margin: 0;
    color: white !important;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    
}

.nav-item a:hover {
    color: #648880 !important;
}

.poslednji:link {
    padding-right: 0 !important;
}

@media (max-width: 991.98px) {
    .datum {
        display: none;
    }

    .leva-strana {
        display: flex;
        flex-direction: column;
        margin-left: 32px;
    }

    .datum-skriveni {
        display: inline-block;
        font-size: 22px;
    }

    .desna-strana {
        align-self: center;
        margin-right: 50px;
    }

    .navbar-toggler {
        color: #293f50 !important;
    }

    
}

@media (max-width: 380px) {
    .navbar-brand {
        font-size: 42px;
    }

    .leva-strana {
        margin-left: 0px;
    };
}

/* ---------------------DOVDE JE NAVBAR---------------- */
.first-section {
    text-align: center;
    width: 100%;
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px;
}

.first-section h2 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 22px;
}

.first-section p {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    font-size: 21px;
    color: #888;
    margin-bottom: 22px;
}

/* ---------------------DOVDE JE first section---------------- */

.sadrzajac {
    width: 100%;
    background-color: white;
}

.glavni {
    max-width: 960px;
    margin: 0 auto;
    padding: 66px 0 44px;
}

/* ---------------------BELI SADRZAJ---------------- */

footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 44px 0;
    display: flex;
    justify-content: space-between;
}

.bottom-nav {
    width: 35%;
}

.nav-links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
}

footer a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
}

small {
    font-weight: 400;
    font-size: 14px;
}

footer a:hover {
    color: #648880;
}

@media (max-width: 991.98px) {
    footer {
        flex-direction: column;
        padding-top: 20px;
    }

    small {
        order: 1;
        padding-left: 32px;
    }

    .nav-links {
        flex-direction: column;
    }
}