.glavni {
    display: grid;
    grid-template-columns: 280px auto;
    row-gap: 66px;
}

iframe {
    margin-left: auto;
    width: 590px;
    height: 264px;
}

h3 {
    font-size: 24px;
    line-height: 44px;
    font-weight: 300;
}

.levi-info p {
    color: #888888;
    font-size: 16px;
    line-height: 22px;
}

.levi-info a:link, 
.levi-info a:visited {
    border-bottom: 1px solid #dfe2e5;
    text-decoration: none;
    color: #648880;
}

.levi-info a:hover, 
.levi-info a:active {
    color: #a9b2b9;
}


@media (max-width: 991.98px) {
    .glavni {
        display: flex;
        flex-direction: column;
        padding-left: 32px;
    }

    iframe {
        margin-left: 0;
    }
}


@media (max-width: 650px) {
    iframe {
        width: 300px;
    }
}


@media (max-width: 380px) {
    .glavni {
        padding-left: 0px;
    }

    iframe {
        width: 280px;
    }
}


